.booksWrapper{
  position: absolute;
  top:15vh;
  margin-right: 50px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookImg{
  max-width: 180px;
  height: auto;
  object-fit: contain;
}

.row1{
  display: flex;
}

.row2{
  display: flex
}
.book{
  position: relative;
}

/* Books placement */
.row1 .book:first-child{
  transform: rotate(80deg);
  top: 45px;
  right: 20px;
}

.row1 .book:nth-child(2){
  transform: rotate(10deg);
  top: 130px;
  right: 10px;
}
.row1 .book:last-child{
  transform: rotate(-55deg);
  top: 10px;

}

.row2 .book:first-child{
  transform: rotate(25deg);
  right: 40px;
}

.row2 .book:nth-child(2){
  transform: rotate(6deg);
  right: 20px;
}

.row2 .book:nth-child(4){
  transform: rotate(-20deg);
  bottom: 20px;
  left: 20px;
}



