:root{
  --border-regular: 1px solid #191919;
  --border-thin: 0.3px solid #191919;
  --black: #191919;
}
 


.back-button{
    margin: 20px 5% 0 5%;
}
.collection-header{
  margin-bottom: 40px;
}
.collection-header h1{
    font-weight: 500;
    margin-bottom: 10px;
}




.collection-header h1, p, a{
    color: #191919;
}


/* Book div */


.books-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: var(--border-regular);
  width: 100%;
}
.books-grid-wrapper .grid-book:nth-child(3n) {
  border-right: none;
}


.grid-book {
  padding: 20px;
  border-right: var(--border-regular);
    border-bottom: var(--border-regular);
    cursor: pointer;
}

.grid-book div:first-child{
  padding-bottom: 15px;
  border-bottom: var(--border-thin);
}

.grid-book div:nth-child(2){
  display: flex;
  justify-content: center;
  padding: 15px;
}

.grid-book div:last-child{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px ;
  border-top: 1px solid #191919;

}

.udc-tag{
  background-color: #F7B9C4;
  padding: 5px 10px;
}

.grid-book .title{
  font-weight: 500;
}

.grid-book img{
  max-height: 200px;
  
}

.addToList-button{
  color: var(--black);
}

@media (max-width: 1024px) {
  .books-grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .books-grid-wrapper .grid-book {
    border-right: var(--border-regular);
  }

  .books-grid-wrapper .grid-book:nth-child(2n) {
    border-right: none;
  }
}

/* No borders for mobile view */
@media (max-width: 768px) {
  .books-grid-wrapper .grid-book {
    border-right: none;
  }
    .books-grid-wrapper {
    grid-template-columns: 1fr;
  }

}
