
.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
  padding: 1rem 5%;
}

.category-0{
    background-color: #191919;
    color: white;
}

.category-1{
  background-color: #F7B9C4;
  color: black;
}

.category-2{
  background-color: #A5A2E1;
  color: black;
}

.category-3{
  background-color: #9BB465;
  color: black;
}

.category-4{
  background-color: #7A5353;
  color: white;
}

.category-5{
  background-color: #F07901;
  color: black;
}




.logo{
    width: 2rem;
}
.navElementsContainer{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.navElements{
    display: flex;
    gap: 3rem;
}

.link {
  text-decoration: none;
  font-size: small;
  font-weight: 400;
}

.link:hover {
  border-bottom: 0.3px solid white;
}