
.nav {
  display: flex;
  background-color: #191919;
  justify-content: space-between;
  border-bottom: 1px solid white;
  align-items: center;
  padding: 1rem 5%;
}

.logo{
    width: 2rem;
}
.navElementsContainer{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.navElements{
    display: flex;
    gap: 3rem;
}

.link {
  text-decoration: none;
  font-size: small;
  font-weight: 400;
}

.link:hover {
  border-bottom: 0.3px solid white;
}